#wrapper {
	border: 1px solid #AFBCB9;
        margin: 15px 35px;
        background: url("images/background_065.jpg");
	max-width: 1500px;
	min-width: 750px;
}
#menu {
	width: 100%;
	margin: 0px auto;
	background: #AFBCB9;
}
#menu ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-size:14pt;
}
#menu a:link, a:visited {
	color: white;
	background: #AFBCB9;
	text-decoration: none;
	display:block;
	padding:10px 10px;
}
#menu a:hover {
	color: #4E5975;
	background: #C9D4CC;
	text-decoration: none;
}
p {     
	text-indent: 30px;
        text-align:justify;
	font-size:14pt;
        color: white;
	padding-left:20px;
}
p img {
	float: right;
	margin-left: 20px;
}
h2 {
	text-align:center;
        color:#30E5DC;
}
#menu1 img, #menu2 img{
	max-width: 100%;
}
	
#menu1 ul, #menu2 ul {
	display: flex;
        flex-direction: row;
	list-style-type: none;
}
#menu1 li, #menu2 li {
	text-align:center;
}
#menu1 a:link, #menu1 a:visited, #menu2 a:link, #menu2 a:visited {
	color: white;
	text-decoration: none;
	padding:10px;
	font-size: 1.5vw;
}
#menu1 a:hover, #menu2 a:hover {
	color: #143E50;
	background: #C9D4CC;
	text-decoration: none;
	border-radius: 25px;
	font-size: 1.5vw;
}
#menu1 a, #menu2 a {font-size: 14pt;}
h3 {
	padding-left: 50px;
        font-weight: normal;
	font-size: 10pt;
}

	
